@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
//@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  // padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 1.1rem;
  color: $text-light;
  background-color: $primary;
  margin: 0;
  padding: 0;
}

abbr[title] {
  text-decoration: none;
}
